In [33]:
import sqlite3

# create  database
conn= sqlite3.connect('library.db')
c= conn.cursor()

# create table named books

c.execute('''
    CREATE TABLE IF NOT EXISTS Books(
    BookId INTEGER PRIMARY KEY,
    Title TEXT,
    Author TEXT,
    YearPublished INTEGER,
    Genre TEXT
    )
''')
  

conn.commit()
conn.close()

### Insert rows

Now, i'll insert some of my favorite books into the table.

In [34]:
conn=sqlite3.connect('library.db')

c= conn.cursor()

c.execute('''
    INSERT INTO Books(BookId, Title, Author, YearPublished, Genre) VALUES (?, ?, ?, ?, ?)",
    (1,'Atomic Habits', 'James Clear', '2018', 'Self development'),
    (2,'Becoming', 'Michelle Obama', '2018', 'Memoir/Story'),
    (3,'A woman makes a plan','Mayes Musk', '2019', 'Biographie'),
    (4,'I am Malala', 'Malala Yusufzai', '2013', 'Story'),
    (5,'Une si longue lettre', 'Mariama Ba', '1979',' Fiction')
    
''')

conn.commit()
conn.close()

OperationalError: unrecognized token: "",
    (1,'Atomic Habits', 'James Clear', '2018', 'Self development'),
    (2,'Becoming', 'Michelle Obama', '2018', 'Memoir/Story'),
    (3,'A woman makes a plan','Mayes Musk', '2019', 'Biographie'),
    (4,'I am Malala', 'Malala Yusufzai', '2013', 'Story'),
    (5,'Une si longue lettre', 'Mariama Ba', '1979',' Fiction')

"

### **Step 3: Select rows**

To view the data we've inserted, we'll retrieve and print the rows from our table.

In [35]:
conn= sqlite3.connect('library.db')
c= conn.cursor()

c.execute('SELECT * FROM Books')

rows= c.fetchall()

for row in rows:
    print(row)
    
conn.close()

(1, 'Atomic Habits', 'James Clear', 2018, 'Self development')
(2, 'Becoming', 'Michelle Obama', 2023, 'Memoir/Story')
(3, 'A woman makes a plan', 'Mayes Musk', 2019, 'Biographie')
(4, 'I am Malala', 'Malala Yusufzai', 2013, 'Story')
(5, 'Une si longue lettre', 'Mariama Ba', 1979, ' Fiction')

2-	Write and execute an SQL query to find all books published after the year 2000.

In [37]:
conn= sqlite3.connect('library.db')
c= conn.cursor()

c.execute('SELECT * FROM Books WHERE YaerPublished>2000')

rows= c.fetchall()

for row in rows:
    print(row)
conn.close()

(1, 'Atomic Habits', 'James Clear', 2018, 'Self development')
(2, 'Becoming', 'Michelle Obama', 2023, 'Memoir/Story')
(3, 'A woman makes a plan', 'Mayes Musk', 2019, 'Biographie')
(4, 'I am Malala', 'Malala Yusufzai', 2013, 'Story')

3-	Write and execute an SQL query to find all books in the "Fiction" genre.

In [38]:
conn= sqlite3.connect('library.db')
c= conn.cursor()

c.execute('SELECT * FROM Books WHERE Genre="Story" ')

rows= c.fetchall()
print(rows)
conn.close()

[(4, 'I am Malala', 'Malala Yusufzai', 2013, 'Story')]

In [39]:
conn3= sqlite3.connect('library.db')
c= conn3.cursor()
c.execute('UPDATE Books SET YaerPublished="2023" WHERE Title="Becoming"')

c.execute('SELECT * FROM Books WHERE Title="Becoming"')
rows= c.fetchall()
for row in rows:
    print(row)
conn3.close()

(2, 'Becoming', 'Michelle Obama', 2023, 'Memoir/Story')

In [42]:
conn3= sqlite3.connect('library.db')
c= conn3.cursor()
c.execute('DELETE FROM Books WHERE Title="Une si longue Lettre"')

c.execute('SELECT * FROM Books')
rows= c.fetchall()
for row in rows:
    print(row)
conn3.close()

(1, 'Atomic Habits', 'James Clear', 2018, 'Self development')
(2, 'Becoming', 'Michelle Obama', 2023, 'Memoir/Story')
(3, 'A woman makes a plan', 'Mayes Musk', 2019, 'Biographie')
(4, 'I am Malala', 'Malala Yusufzai', 2013, 'Story')
(5, 'Une si longue lettre', 'Mariama Ba', 1979, ' Fiction')